# PROJECT: AVIATION STRATEGY AND RISK EVASION

### This notebook is aimed at cleaning and analysing data from the data.csv file from Aviation Accident Database & Synopses from 1963 up to 2023 then using that data to come up with bussnness insights that will enable the company to venture into the aviation industry and diversify its portfolio

## OBJECTIVES 1.0.1 phase 1

### At the end of this notebook data cleaning phase this are the goals
#### 1.Clean the unfillterd data to something more workable
#### 2.Find colums that meaningfull insights can be derived from and drop the rest
#### 3.Find your location of intrest
#### 3.From the corilation between the columns find objectives that can be used to expand the company
#### 4.Use those columns to draw neat visualizations
#### 5.From the analysis come up with three concrete business recommendations

## Phase 1.>Data cleaning

In [1]:
# first we are gona import all the neccesary librayrs neccesary for data cleaning
import numpy as np
import pandas as pd

In [2]:
# load the aviationdata.csv
# were gona use encoding='ISO-8859-1' since it has special characters
aviation=pd.read_csv("AviationData.csv",encoding='ISO-8859-1')
#were gonna create a copy of the original data frame so as to not not corupt it
aviation_copy=aviation.copy()

C:\Users\josep\AppData\Local\Temp\ipykernel_24980\3610957294.py:3: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  aviation=pd.read_csv("AviationData.csv",encoding='ISO-8859-1')

In [4]:
#lets load a sample to see if it loaded and get a brief intoduction to the data set
aviation_copy.sample(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
51779,20011121X02283,Accident,SEA02LA015,2001-11-15,"PASCO, WA",United States,NaN,NaN,PSC,Tri-Cities Airport,...,Other Work Use,NaN,NaN,NaN,NaN,2.0,VMC,Landing,Probable Cause,20-02-2002
36358,20001206X02557,Accident,BFO95LA011,1994-11-10,"BUCYRUS, OH",United States,NaN,NaN,17G,PORT BUCYRUS-CRAWFORD CO.,...,Instructional,NaN,0.0,0.0,1.0,0.0,VMC,Takeoff,Probable Cause,31-08-1995
33553,20001211X13174,Accident,LAX93LA322,1993-08-15,TINIAN,NaN,NaN,NaN,PTNI,WEST TINIAN,...,Personal,NaN,0.0,1.0,2.0,0.0,VMC,Takeoff,Probable Cause,26-09-1994
22831,20001213X28051,Accident,CHI89DEE02,1989-04-25,"MARSEILLES, IL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,1.0,2.0,VMC,Takeoff,Probable Cause,11-07-1990
44759,20001211X10964,Accident,SEA98LA171,1998-08-25,"KENT, WA",United States,NaN,NaN,S36,CREST AIRPARK,...,Instructional,NaN,0.0,0.0,0.0,2.0,VMC,Landing,Probable Cause,15-02-2001

In [5]:
# now we ckeck the number oc collumns,null values and the data type
aviation_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [6]:
# we can now identify and drop colums that will not give us any meaningfull insight
# the cretaria i used is based on the number of null value and irlevance to the main goal
aviation_copy.drop(columns=["Event.Id","Accident.Number","Airport.Code","Registration.Number","Publication.Date",
                       "Schedule","Amateur.Built","Number.of.Engines","Air.carrier","FAR.Description","Air.carrier",
                       "Report.Status","Injury.Severity","Airport.Name","Latitude","Longitude","Make"],inplace=True)
aviation_copy.head()

,Investigation.Type,Event.Date,Location,Country,Aircraft.damage,Aircraft.Category,Model,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,NaN,108-3,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,NaN,PA24-180,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,Accident,1974-08-30,"Saltville, VA",United States,Destroyed,NaN,172M,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,Accident,1977-06-19,"EUREKA, CA",United States,Destroyed,NaN,112,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,Accident,1979-08-02,"Canton, OH",United States,Destroyed,NaN,501,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach

In [7]:
# since 91% of the data is in accidents we are going to:
# first drop the rows that contain inccidents
aviation_copy = aviation_copy[aviation_copy["Investigation.Type"].str.contains("Accident",na=False)]
# we can now drop the investigation type column
aviation_copy.drop(columns=["Investigation.Type"],inplace=True)
aviation_copy.head()

,Event.Date,Location,Country,Aircraft.damage,Aircraft.Category,Model,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,NaN,108-3,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,NaN,PA24-180,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,1974-08-30,"Saltville, VA",United States,Destroyed,NaN,172M,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,1977-06-19,"EUREKA, CA",United States,Destroyed,NaN,112,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,1979-08-02,"Canton, OH",United States,Destroyed,NaN,501,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach

In [8]:
# since this project is aimed at finding good bussnes risk evation strategy were gona remove all the rows that containe null values in the aircraft damage column
aviation_copy.dropna(subset=["Aircraft.damage"],inplace=True)

#### I have identified  USA as my country of intrest in this project

In [9]:
#we are now going to filter the data usint the sting usa to get only planes in the usa
# we are gonna use na=False due to the na values
aviation_copy = aviation_copy[aviation_copy["Country"].str.contains("United States",na=False)]
# we can now drop the country column
aviation_copy.drop(columns=["Country"],inplace=True)
aviation_copy.head()

,Event.Date,Location,Aircraft.damage,Aircraft.Category,Model,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,1948-10-24,"MOOSE CREEK, ID",Destroyed,NaN,108-3,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,1962-07-19,"BRIDGEPORT, CA",Destroyed,NaN,PA24-180,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,1974-08-30,"Saltville, VA",Destroyed,NaN,172M,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,1977-06-19,"EUREKA, CA",Destroyed,NaN,112,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,1979-08-02,"Canton, OH",Destroyed,NaN,501,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach

In [11]:
# we are now going to save this cleaned data set as aviation cleaned
aviation_copy.to_csv("aviation_clean.csv")