# PROJECT: AVIATION STRATEGY AND RISK EVASION

### This notebook is aimed at cleaning and analysing data from the data.csv file Aviation Accident Database & Synopses from 1963 up to 2023 then using that data to come up with bussnness insights that will enable the company to venture into the aviation industry and diversify its portfolio.

### The insights gathered at the end will help the company determine the type of aircraft to invest on and come up with a low risk strategy that will benefit the company.

## Main Objectives(GOALS) 1.0.1

### At the end of this notebook, this are the goals I strive to achirve:
#### 1.0.1.Clean the data
#### 1.Find the best aircraft type for the company to purchase
#### 2.Find the best season for involvement
#### 3.Find the best OVERAL location for operation
#### 4.Find the best location of operation for specific aircrafts
#### 5.Find the most risk phase of flight
#### 6.Find the best weather condition for operation
#### 7.Find wich aircraft poses more risk to human life
#### 8.From the analysis come up with concrete business recommendations

## OBJECTIVES 1.0.1 :phase 1>Data cleaning

### At the end of this data cleaning phase this are the goals
#### 1.Clean the unfillterd data to something more workable
#### 2.Find colums that meaningfull insights can be derived from and drop the rest
#### 3.Find your location of intrest
#### 3.From the corilation between the columns find objectives that can be used to expand the company
#### 4.Use those columns to draw neat visualizations

## Phase 1

In [1]:
# first we are gona import all the neccesary librayrs neccesary for data cleaning
import numpy as np
import pandas as pd

In [2]:
# load the aviationdata.csv
# were gona use encoding='ISO-8859-1' since it has special characters
aviation=pd.read_csv("./data/AviationData.csv",encoding='ISO-8859-1')
#were gonna create a copy of the original data frame so as to not not corupt it
aviation_copy=aviation.copy()

C:\Users\josep\AppData\Local\Temp\ipykernel_39548\431989727.py:3: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  aviation=pd.read_csv("./data/AviationData.csv",encoding='ISO-8859-1')

In [3]:
#lets load a sample to see if it loaded and get a brief intoduction to the data set
aviation_copy.sample(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
25104,20001212X22819,Accident,SEA90LA054,1990-03-20,"WHITE CITY, OR",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,0.0,1.0,0.0,VMC,Approach,Probable Cause,20-10-1992
80773,20181001X33815,Incident,ENG18WA038,2017-10-16,"Dublin, Ireland",Ireland,NaN,NaN,EIDW,Dublin,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,25-09-2020
34315,20001211X13822,Accident,ATL94LA031,1993-12-25,"MORRISON, TN",United States,NaN,NaN,NONE,PRIVATE,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,07-09-1994
67902,20100401X62911,Accident,ERA10CA198,2010-03-26,"Venice, FL",United States,027418N,0822625W,VNC,Venice Municipal Airport,...,Instructional,FLORIDA FLIGHT TRAINING CENTER,0.0,0.0,0.0,1.0,VMC,NaN,The student pilot's improper flare and recover...,25-09-2020
6410,20001214X44403,Accident,ANC83LA183,1983-09-28,"FAIRBANKS, AK",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,NaN

In [4]:
# now we ckeck the number oc collumns,null values and the data type
aviation_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [5]:
# we can now identify and drop colums that will not give us any meaningfull insight
# the cretaria i used is based on the number of null value and irlevance to the main goal
aviation_copy.drop(columns=["Event.Id","Accident.Number","Airport.Code","Registration.Number","Publication.Date",
                       "Schedule","Amateur.Built","Number.of.Engines","Air.carrier","FAR.Description","Air.carrier",
                       "Report.Status","Injury.Severity","Airport.Name","Latitude","Longitude","Make"],inplace=True)
aviation_copy.head()

,Investigation.Type,Event.Date,Location,Country,Aircraft.damage,Aircraft.Category,Model,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,NaN,108-3,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,NaN,PA24-180,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,Accident,1974-08-30,"Saltville, VA",United States,Destroyed,NaN,172M,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,Accident,1977-06-19,"EUREKA, CA",United States,Destroyed,NaN,112,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,Accident,1979-08-02,"Canton, OH",United States,Destroyed,NaN,501,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach

In [6]:
# since 91% of the data is in accidents we are going to:
# first drop the rows that contain inccidents
aviation_copy = aviation_copy[aviation_copy["Investigation.Type"].str.contains("Accident",na=False)]
# we can now drop the investigation type column
aviation_copy.drop(columns=["Investigation.Type"],inplace=True)
aviation_copy.head()

,Event.Date,Location,Country,Aircraft.damage,Aircraft.Category,Model,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,NaN,108-3,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,NaN,PA24-180,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,1974-08-30,"Saltville, VA",United States,Destroyed,NaN,172M,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,1977-06-19,"EUREKA, CA",United States,Destroyed,NaN,112,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,1979-08-02,"Canton, OH",United States,Destroyed,NaN,501,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach

In [7]:
# since this project is aimed at finding good bussnes risk evation strategy were gona remove all the rows that containe null values in the aircraft damage column
aviation_copy.dropna(subset=["Aircraft.damage"],inplace=True)

#### I have identified  USA as my country of intrest in this project

In [8]:
#we are now going to filter the data usint the sting usa to get only planes in the usa
# we are gonna use na=False due to the na values
aviation_copy = aviation_copy[aviation_copy["Country"].str.contains("United States",na=False)]
# we can now drop the country column
aviation_copy.drop(columns=["Country"],inplace=True)
aviation_copy.head()

,Event.Date,Location,Aircraft.damage,Aircraft.Category,Model,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,1948-10-24,"MOOSE CREEK, ID",Destroyed,NaN,108-3,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,1962-07-19,"BRIDGEPORT, CA",Destroyed,NaN,PA24-180,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,1974-08-30,"Saltville, VA",Destroyed,NaN,172M,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,1977-06-19,"EUREKA, CA",Destroyed,NaN,112,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,1979-08-02,"Canton, OH",Destroyed,NaN,501,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach

#### season

In [9]:
#to create the seasons we have to get the months 
#lets first create the months column
aviation_time=pd.to_datetime(aviation_copy["Event.Date"])
aviation_copy["Event.Date"]=aviation_time
aviation_copy["Event.Month"]=aviation_copy["Event.Date"].dt.month

In [10]:
# now lets group the months to season
# Define the function to map months to seasons 
def get_season(month):
     if month in [12, 1, 2]:
         return "Winter" 
     elif month in [3, 4, 5]:
         return "Spring"
     elif month in [6, 7, 8]:
         return "Summer"
     elif month in [9, 10, 11]:
         return "Autumn" 
aviation_copy["Season"] = aviation_copy["Event.Month"].apply(get_season)

In [11]:
# we can now drop the month column
aviation_copy.drop(columns=["Event.Month"],inplace=True)

In [12]:
# we are now going to save this cleaned data set as aviation cleaned
aviation_copy.to_csv("./data/aviation_clean.csv",index=False)

### at the end of phase one i was able to drop all the unecesary colums and find my objectives

## Phase 2

## Objectives 1.0.2 phase 2>Data analysis

### At the end of this data phase this are the goals
#### 1.Pair collums in accordance to the objectives that will be used in visualization and assighn to a variable
#### 2.From the analysis come up with concrete business recommendations

In [13]:
# were first gonna load the cleaned data set
aviation_clean=pd.read_csv("./data/aviation_clean.csv")
aviation_clean.sample(5)

C:\Users\josep\AppData\Local\Temp\ipykernel_39548\2127466509.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  aviation_clean=pd.read_csv("./data/aviation_clean.csv")

,Event.Date,Location,Aircraft.damage,Aircraft.Category,Model,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Season
9498,1984-10-13,"GABBS, NV",Substantial,NaN,T210N,Reciprocating,Unknown,0.0,0.0,1.0,2.0,VMC,Landing,Autumn
66063,2012-09-15,"Willard, MO",Substantial,Airplane,SR22,Reciprocating,Personal,5.0,0.0,0.0,0.0,IMC,NaN,Autumn
44890,2000-04-11,"SHERWOOD, ND",Substantial,NaN,PA-11,Reciprocating,Personal,0.0,0.0,0.0,1.0,VMC,Maneuvering,Spring
4317,1983-05-02,"MURFREESBORO, TN",Destroyed,NaN,PA 32RT-300T,Reciprocating,Personal,2.0,0.0,0.0,0.0,VMC,Cruise,Spring
59684,2008-07-24,"Oshkosh, WI",Substantial,Airplane,RV-3,Reciprocating,Personal,0.0,1.0,0.0,0.0,VMC,NaN,Summer

##### Objective 1>Find the best aircraft type for the company to purchase

In [14]:
#To find the best aircraft to parchase were gona use the columns Aircraft.damage,Aircraft.category,model,engine.type
#pairing the colums to a single variable
aviation_clean_ob1=aviation_clean.loc[:,["Aircraft.damage","Aircraft.Category","Model","Engine.Type"]]
aviation_clean_ob1

      Aircraft.damage Aircraft.Category     Model    Engine.Type
0           Destroyed               NaN     108-3  Reciprocating
1           Destroyed               NaN  PA24-180  Reciprocating
2           Destroyed               NaN      172M  Reciprocating
3           Destroyed               NaN       112  Reciprocating
4           Destroyed               NaN       501            NaN
...               ...               ...       ...            ...
78777     Substantial          Airplane      PA42            NaN
78778     Substantial          Airplane      SR22            NaN
78779     Substantial          Airplane   SA226TC            NaN
78780     Substantial          Airplane     R172K            NaN
78781     Substantial          Airplane     8GCBC            NaN

[78782 rows x 4 columns]

##### Objective 2>Find the best season for involvement

In [15]:
# to find the best season for involvemet we have to group aircraft damage and season
aviation_clean_ob2=aviation_clean.loc[:,["Aircraft.damage","Season"]]
aviation_clean_ob2

      Aircraft.damage  Season
0           Destroyed  Autumn
1           Destroyed  Summer
2           Destroyed  Summer
3           Destroyed  Summer
4           Destroyed  Summer
...               ...     ...
78777     Substantial  Winter
78778     Substantial  Winter
78779     Substantial  Winter
78780     Substantial  Winter
78781     Substantial  Winter

[78782 rows x 2 columns]

##### Objective 3>Find the best overal location for operation

In [16]:
# we are going to use the columns location and aicraft damage
# we are going to drop the null values from the location column
aviation_clean.dropna(subset=["Location"],inplace=True)
aviation_clean_ob3=aviation_clean.loc[:,["Location","Aircraft.damage"]]
aviation_clean_ob3

              Location Aircraft.damage
0      MOOSE CREEK, ID       Destroyed
1       BRIDGEPORT, CA       Destroyed
2        Saltville, VA       Destroyed
3           EUREKA, CA       Destroyed
4           Canton, OH       Destroyed
...                ...             ...
78777    Lewistown, MT     Substantial
78778     San Juan, PR     Substantial
78779      Wichita, KS     Substantial
78780  Brooksville, FL     Substantial
78781       Payson, AZ     Substantial

[78772 rows x 2 columns]

##### Objective 4>Find the best location of operation for specific aircrafts

In [17]:
# we are going to use the columns location ,category and aicraft damage
# we are going to drop the null values from the category column
aviation_clean.dropna(subset=["Aircraft.Category"],inplace=True)
aviation_clean_ob4=aviation_clean.loc[:,["Location","Aircraft.damage","Aircraft.Category"]]
aviation_clean_ob4

               Location Aircraft.damage Aircraft.Category
5            BOSTON, MA     Substantial          Airplane
7           PULLMAN, WA     Substantial          Airplane
8      EAST HANOVER, NJ     Substantial          Airplane
12            HOMER, LA       Destroyed          Airplane
13           HEARNE, TX       Destroyed          Airplane
...                 ...             ...               ...
78777     Lewistown, MT     Substantial          Airplane
78778      San Juan, PR     Substantial          Airplane
78779       Wichita, KS     Substantial          Airplane
78780   Brooksville, FL     Substantial          Airplane
78781        Payson, AZ     Substantial          Airplane

[27126 rows x 3 columns]

##### Objective 5>Find the most risk phase of flight

In [18]:
# we are going to use the columns aircraft damage and Broad.phase.of.flight
# we have to drop the null values in phase of flight
aviation_clean.dropna(subset=["Broad.phase.of.flight"],inplace=True)
aviation_clean_ob5=aviation_clean.loc[:,["Broad.phase.of.flight","Aircraft.damage"]]
aviation_clean_ob5

      Broad.phase.of.flight Aircraft.damage
5                     Climb     Substantial
7                   Takeoff     Substantial
8                   Landing     Substantial
12                   Cruise       Destroyed
13                  Takeoff       Destroyed
...                     ...             ...
58743              Approach       Destroyed
58744           Maneuvering     Substantial
58745           Maneuvering     Substantial
58746               Takeoff     Substantial
58747               Landing     Substantial

[7090 rows x 2 columns]

##### Objective 6>Find the best weather condition for operation

In [19]:
# to find he best weather conditn for operation were gonna use the colmns weather and aircraft damage
# we have to remove the null values in the column weather first
aviation_clean.dropna(subset=["Weather.Condition"],inplace=True)
aviation_clean_ob6=aviation_clean.loc[:,["Weather.Condition","Aircraft.damage"]]
aviation_clean_ob6

      Weather.Condition Aircraft.damage
5                   VMC     Substantial
7                   VMC     Substantial
8                   IMC     Substantial
12                  IMC       Destroyed
13                  IMC       Destroyed
...                 ...             ...
58743               IMC       Destroyed
58744               VMC     Substantial
58745               VMC     Substantial
58746               VMC     Substantial
58747               VMC     Substantial

[7085 rows x 2 columns]

##### Objective 7>Find wich aircraft poses more risk to human life

In [20]:
# to find wich aircraft category poses more risck to humans we are gona use the columns aircraft category,Total.Fatal.Injuries,total serious injuries,total minor injuries,total uninjured
# we are first gona drop the missing rows
aviation_clean.dropna(subset=["Aircraft.Category","Total.Fatal.Injuries","Total.Serious.Injuries","Total.Minor.Injuries","Total.Uninjured"],inplace=True)
aviation_clean_ob7=aviation_clean.loc[:,["Aircraft.Category","Total.Fatal.Injuries","Total.Serious.Injuries","Total.Minor.Injuries","Total.Uninjured"]]
aviation_clean_ob7

,Aircraft.Category,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
7,Airplane,0.0,0.0,0.0,2.0
8,Airplane,0.0,0.0,0.0,2.0
12,Airplane,0.0,0.0,1.0,0.0
13,Airplane,1.0,0.0,0.0,0.0
14,Airplane,1.0,0.0,0.0,0.0
...,...,...,...,...,...
58732,Airplane,0.0,0.0,0.0,1.0
58733,Airplane,0.0,0.0,2.0,0.0
58737,Airplane,0.0,1.0,0.0,0.0
58742,Gyrocraft,2.0,0.0,0.0,0.0
58744,Helicopter,3.0,0.0,0.0,0.0

### at the end of this second phase i was able to group my data inaccordance to mt objectives